table {
	width: 100%;
	table-layout: fixed; /* 各セルの幅を均等にする */
	border-collapse: collapse;
	font-size: 1rem;
}

th, td {
	box-sizing: border-box;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 0.5em;
	text-align: center;
	vertical-align: top;
}

th {
	background-color: #444;
	color: white;
}

td {
	height: 6rem;
}

.date {
	font-weight: bold;
	margin-bottom: 0.3rem;
}

.event {
	font-size: 0.8rem;
	margin-top: 0.4rem;
	/* background-color: #f0f8ff; */
	background-color: skyblue;
	border-radius: 4px;
	padding: 2px 4px;
	text-align: start;
}

#prevMonth, #nextMonth {
	background-color: #f0f0f0;
	color: #20a7cd;
	font-weight: bold;
}

#monthYear {
	min-width: 9em;
}


@media (max-width: 600px) {
	th, td {
		font-size: 0.75rem;
		padding: 0.3em;
	}

	h2 {
		font-size: 1.2rem;
	}
}
