<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Top page">
        <meta name="author" content="nameless">
        <link rel="icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/base.css">
        <title>Home</title>
    </head>
    <body>
        {% include "header.html" %}

        <main>
            <div class="front-menu flex-column-center padding-1">
                <a href="/calendar" class="a-btn-large">カレンダー</a>
                <a href="/" class="a-btn-large">Smart Match Tennis Online</a>
                <a href="/local" class="a-btn-large">Smart Match Tennis</a>
            </div>
        </main>

        <footer id="footer">
            <p>&copy; nameless</p>
        </footer>
        <script src="/static/js/base.js"></script>
    </body>
</html>