<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Top page">
        <meta name="author" content="nameless">
        <link rel="icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/base.css">
        <title>MatchBot</title>
    </head>
    <body>
        {% include "header.html" %}

        <main>
            <div class="flex-column-center padding-1">
                <div class="space"></div>
                <a href="/matchbot/tournaments" class="a-btn-large">大会一覧</a>
            </div>
        </main>

        <footer id="footer">
            <p>&copy; nameless</p>
        </footer>

        <script src="/static/js/base.js"></script>
    </body>
</html>