<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Add teams">
        <meta name="author" content="nameless">
        <link rel="icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/base.css">
        <title>Teams</title>
    </head>
    <body>
        {% include "header.html" %}

        <main>
            <div class="flex-column-center padding-1">
                <h2>{{ tournament.name }}</h2>
                <form id="team-form">
                    <table id="team-table">
                        <tr><th>選手情報</th></tr>
                        <tr><td><input type="text" name="players"></td></tr>
                    </table>
                    <button type="button" id="add-row">行を追加</button>
                    <button type="submit">送信</button>
                </form>
            </div>
        </main>

        <footer id="footer">
            <p>&copy; nameless</p>
        </footer>
        <script src="/static/js/matchbot/tournament/teams.js"></script>
    </body>
</html>